<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <h1>test</h1>

  <script src="./assets/js/git/myAjax.js"></script>
  <script>
    /*
    let time = new Date()
    option = {
      year: 'numeric', month: '2-digit', day: 'numeric',
      hour: 'numeric', minute: 'numeric', second: 'numeric',
      hour12: false, // 使用24小时制
      timeZone: 'America/Los_Angeles'
    }
    console.log(new Intl.DateTimeFormat('zh-Hans-CN',option).format(time))
*/

    fn()
    function fn(){
      ajax({
        method:'post',
        url:'/postbooks',
        data:{
          start:0,
          end:3
        },
        success:function(data){
          console.log(data);
        }
      })
    }





  </script>
</body>

</html>