<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>msg</title>
</head>

<body>
  <h1>msg</h1>
    {{include './components/top.html'}}

    <div>
      
    </div>
    <div class="msgBox">
      <table border='1' style='width:95%;border-collapse:collapse;'>
        <thead>
          <th>ID</th>
          <th>姓名</th>
          <th>联系方式</th>
          <th>时间</th>
          <th>要了解的书</th>
        </thead>
        <tbody>
          {{each data}}
              <tr>
                <td>{{data[$index].id}}</td>
                <td>{{data[$index].name}}</td>
                <td>{{data[$index].phone}}</td>
                <td>{{data[$index].create_time.toLocaleString()}}</td>
                <td>{{data[$index].bookinfo}}</td>
              </tr>
         {{/each}}
        </tbody>
      </table>
    </div>
</body>

</html>